@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F8FAFC;
    /* background-color: green; */
    height: 100vh;
    font-family: Mulish;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 444px;
    height: 537px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.05);
}

.welcome
{
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    margin-inline: 45px;
}

.signUp>h2 {
    color: #333;
    font-size: 24px;
    font-weight: 700;
    margin-inline: 45px;
}

.userForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.userForm>label {
    color: #333;
    font-size: 14px;
    font-weight: 500;
    margin-inline: 45px;
}

.userForm>input {
    width: 352px;
    height: 36px;
    padding: 0px 12px;
    border-radius: 6px;
    border: 1px solid #DEDEDE;
    margin-inline: 45px;
    outline: none;
}

.userForm>button {
    cursor: pointer;
    display: flex;
    width: 352px;
    height: 55.804px;
    padding: 9px 14px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: none;
    color: white;
    border-radius: 6px;
    background: linear-gradient(180deg, #625BF7 0%, #463EEA 100%);
    margin-inline: 45px;
}

.error {
    color: #625BF7;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.below-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.below-card>div>span {
    color: #333;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

#span2 {
    cursor: pointer;
    color: #625BF7 !important;
}